#chuangjian{
	width: 100%;
	border-collapse: collapse;
	background-color:#f8f8f8;
}
#chuangjian,td{
	height: 25px;
	border: 1px solid #e8e8e8;
	text-align: center;
	padding: 1%;
}
.input1{
	width: 100%;
}
textarea{
	width: 100%;
}
#header{
	width: 100%;
	
}
#select1{
	text-align: left;
}
#input2{
	color:white;
	background-color:#009688;
	width:70px;
	height:30px;
	border: 0px; 
	cursor: pointer;
	float:right;
	margin-right:1px;
	margin-top:17px;
	margin-bottom:17px;  
}

