<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjetc.mapper.PlanMapper" >
  <resultMap id="BaseResultMap" type="com.tjetc.pojo.Plan" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cusid" property="cusid" jdbcType="INTEGER" />
    <result column="plan" property="plan" jdbcType="VARCHAR" />
    <result column="plantime" property="plantime" jdbcType="DATE" />
    <result column="planback" property="planback" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tjetc.pojo.Plan" >
    insert into plan (id, cusid, plan, 
      plantime, planback)
    values (#{id,jdbcType=INTEGER}, #{cusid,jdbcType=INTEGER}, #{plan,jdbcType=VARCHAR}, 
      #{plantime,jdbcType=DATE}, #{planback,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tjetc.pojo.Plan" >
    update plan
    set cusid = #{cusid,jdbcType=INTEGER},
      plan = #{plan,jdbcType=VARCHAR},
      plantime = #{plantime,jdbcType=DATE},
      planback = #{planback,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="changeState" parameterType="Integer" >
    update plan
    set state = true
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, cusid, plan, plantime, planback,state
    from plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, cusid, plan, plantime, planback,state
    from plan
  </select>
  <select id="planList" parameterType="Integer" resultMap="BaseResultMap" >
    select id, cusid, plan, plantime, planback,state
    from plan where cusid=#{id}
  </select>
  <select id="chanceList" resultType="chance" >
    select id, chancefrom, cusname, successpro, outline, contacts, phone, description, 
    founder, creattime, assigned, assignedtime, assignedid
    from chance where assignedid is not null
  </select>
</mapper>