<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjetc.mapper.SerTypeMapper">
   <select id="list" resultMap="sertypeMap">
       select * from `ser-type`
   </select>
   <resultMap type="sertype" id="sertypeMap">
     <id column="id" property="id"/>
     <result column="tname" property="tname"/>
   </resultMap>
</mapper>